/* sidebar */

#sidebar {
  width: 25%;
  height: 100vh;
}

#sidebar .tab {
  cursor: pointer;
  user-select: none;
}

#sidebar .tab:hover {
  background-color: var(--color-grey);
}

/* component */

.btn-gradient-primary {
  background-image: linear-gradient(to right, #01aaf9, #73d1f5 90%);
}
